<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>RealTIme.com.googleusercontent.apps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1:25480061381:ios:1183d5abcbaf2700ecabac</string>
				<string>com.googleusercontent.apps.25480061381-i7q4tl0rc2cckni4n78p3tshj6ijjsno</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
